.ProductList {
  position: absolute;
  width: 100%;
  right: -120%;
  top: -10%;
}
.SubCategory {
  padding: 1.4rem 0;
  color: var(--clr-wb-400);
  transition: all 0.3s ease-in-out;
  position: relative;
  font-size: 1.5rem;
}

.SubCategory:hover,
.SubCategory:active,
.SubCategory:focus {
  font-size: 1.6rem;
  color: var(--clr-wb-900);
  text-decoration: underline;
}
