body {
  margin: 0;
  font-family: amiko-font, sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  min-width: 35rem;
}

* {
  box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


:root {
  font-size: 62.5%;
}

@font-face {
  font-family: amiko-font;
  src: url("assets/fonts/Amiko-Regular.ttf") format("opentype");
}
@font-face {
  font-family: amiko-med;
  src: url("assets/fonts/Amiko-SemiBold.ttf") format("opentype");
}
@font-face {
  font-family: amiko-bold;
  src: url("assets/fonts/Amiko-Bold.ttf") format("opentype");
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

